venv/
env/
docs/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
*.env
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
